*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
.carousel-inner img{
    width: 100;
}
    BODY{
        width: 100px;
        height: 100px;
        background-color: red;
        animation-name: example;
        animation-duration: 4s;
    }
  @keyframes example {
        from {background-color: red;}
        to {background-color: yellow;}
    }
